<% layout('layout/boilerplate') %>

    <div class="row">
        <div class="col-8 offset-2">

            <h3> Edit a Listings</h3>
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation"enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="title" class="form-label">Titel</label>
                    <input name="listing[title]" value="<%= listing.title %>" type="text" required class="form-control">
                    <div class="valid-feedback"> Looks good!</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label"> Dedcription</label>
                    <textarea name="listing[description]" type="text" required
                        class="form-control"> <%= listing.description %> </textarea>
                    <div class="invalid-feedback"> Please Enter the valid description.</div>
                </div>

                <div class="mb-3">
                    <h3>orignal image</h3>
                    <img src="<%=orignalimageUel %>">
                </div>




            <div class="mb-3">
                <label for="image" class="form-label">Upload new image</label>
                <input name="listing[image]" value="<%= listing.image %>" type="file" required class="form-control">
                <div class="invalid-feedback">Please select an image.</div>
            </div>



                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label"> Price</label>
                        <input name="listing[price]" value="<%= listing.price %>" required 
                            class="form-control">
                        <div class="invalid-feedback"> please Enter valid price.</div>
                    </div>


                    <div class="mb-3 col-8">
                        <label for="country" class="form-label"> Country</label>
                        <input name="listing[country]" value="<%= listing.country %>" required type="text"
                            class="form-control">
                        <div class="invalid-feedback"> Please Enter valid Country.</div>
                    </div>
                </div>


                <div class="mb-3">
                    <label for="location" class="form-label">Location </label>
                    <input name="listing[location]" value="<%= listing.location %>" required type="text"
                        class="form-control">
                </div>
                <div class="invalid-feedback"> Please Enter the valid Location.</div>


                <div class="mb-3">
    <label for="category">Select Category</label>
    <select class="form-select" id="category" name="listing[category]" required>
        <option value="trending" <%= listing.category === "tranding" ? "selected" : "" %>>Trending</option>
        <option value="Rooms" <%= listing.category === "Rooms" ? "selected" : "" %>>Rooms</option>
        <option value="Mountain" <%= listing.category === "Mountain" ? "selected" : "" %>>Mountain</option>
        <option value="Amazing Pools" <%= listing.category === "Amazing Pools" ? "selected" : "" %>>Amazing Pools</option>
        <option value="Farms" <%= listing.category === "Farms" ? "selected" : "" %>>Farms</option>
        <option value="Arctic" <%= listing.category === "Arctic" ? "selected" : "" %>>Arctic</option>
        <option value="Iconic Cities" <%= listing.category === "Iconic Cities" ? "selected" : "" %>>Iconic Cities</option>
        <option value="Castles" <%= listing.category === "Castles" ? "selected" : "" %>>Castles</option>
    </select>
</div>
                <button class="btn btn-dark edit">Edit</button>


</form>
        </div>
    </div>
 

   <!-- mongoaAtlas: lNnZ7bzQiq3xbZLS
   username:sigma-student -->


   <!-- mongodb+srv://sigma-student:lNnZ7bzQiq3xbZLS@cluster0.xfqtnah.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0 -->

   