<% layout('layout/boilerplate') %>

    <div class="row">
        <div class="col-8 offset-2">

            <h3> Edit a Listings</h3>
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">

                <div class="mb-3">
                    <label for="title" class="form-label">Titel</label>
                    <input name="listing[title]" value="<%= listing.title %>" type="text" required class="form-control">
                    <div class="valid-feedback"> Looks good!</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label"> Dedcription</label>
                    <textarea name="listing[description]" type="text" required
                        class="form-control"> <%= listing.description %> </textarea>
                    <div class="invalid-feedback"> Please Enter the valid description.</div>
                </div>


                <div class="mb-3 ">
                    <label for="image" class="form-label"> image</label>
                    <input name="listing[image][url]" value="<%= listing.image.url %>" type="text" required
                        class="form-control">
                    <div class="invalid-feedback"> Please </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label"> Price</label>
                        <input name="listing[price]" value="<%= listing.price %>" required 
                            class="form-control">
                        <div class="invalid-feedback"> please Enter valid price.</div>
                    </div>


                    <div class="mb-3 col-8">
                        <label for="country" class="form-label"> Country</label>
                        <input name="listing[country]" value="<%= listing.country %>" required type="text"
                            class="form-control">
                        <div class="invalid-feedback"> Please Enter valid Country.</div>
                    </div>
                </div>


                <div class="mb-3">
                    <label for="location" class="form-label">Location </label>
                    <input name="listing[location]" value="<%= listing.location %>" required type="text"
                        class="form-control">
                </div>
                <div class="invalid-feedback"> Please Enter the valid Location.</div>
                <button class="btn btn-dark edit">Edit</button>


</form>
        </div>
    </div>
 